@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root{
  --bg:hsl(229, 26%, 16%);
  --fontColor:#C8CBE7;
  --fontColorGray:hsl(237, 14%, 26%);
  --fontColorGrayHover:hsl(240, 2%, 76%);
  --headerBg:url(./images/bg-desktop-dark.jpg);
  --headerSs:url(./images/bg-mobile-dark.jpg);
  --btnToggleImg: url(./images/icon-sun.svg);
  --objBackgrounds:hsl(235, 24%, 19%);
  --boxShadow:hsl(240, 16%, 9%);
  --dropZones:rgba(58, 124, 253, 1);
  --highLight:hsl(237, 14%, 26%);
  --bgImage:linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%)), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

* {
   box-sizing: border-box; 
   padding: 0;
   margin: 0;
   font-family:'Josefin Sans', 'Arial Narrow', Arial, sans-serif;
}

body{
  background: hsl(235, 21%, 11%);

 display: flex;
 flex-direction: column;

height: 100vh;
}

body.light{
  background-color: var( --objBackgrounds);
--bg:hsla(0, 0%, 100%, 1);
    --fontColor:#494C6B; 
    --fontColorGray:hsl(233, 11%, 84%);
    --fontColorGrayHover:hsl(236, 9%, 61%);
    --headerBg:url(./images/bg-desktop-light.jpg);
    --headerSs:url(./images/bg-mobile-light.jpg);
    --btnToggleImg:url(./images/icon-moon.svg);
    --objBackgrounds:hsl(0, 0%, 100%);
    --boxShadow:hsl(231, 26%, 89%);
    --dropZones:hsl(234, 39%, 85%);
    --highLight:hsl(236, 9%, 61%);
    --bgImage:linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%)), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

#container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px auto;
  /* top: 30%;
  left: 50%;
  transform: translate(-50%);
  border: #bb0606 solid 2px; */
}
.header{

  background-image: var(--headerBg);
  height: 300px; 
  width: 100%;
  /* position: relative; */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* 
.backdrop{
  display: flex;
  flex-direction: row;
  position: relative;
 overflow: hidden;
} */

.innerContainer{
  position: absolute;
  width: 34rem;
  transform: translate(-50%); 
  top: 30%;
  left: 50%;
  margin-top: -8rem;
}
.todoheader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 30px 0;
}

.todoheader h1{
  letter-spacing: .9375rem;
  font-size: 3rem;
  color: white;
}

.todoheader .toggleBackground{
  height: 26px;
  width: 26px;
  background-image: url(./images/icon-sun.svg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}

#toggleIcon{
  
  cursor: pointer;
  padding: .5em 1em;
  border-radius: .3rem;
  border: none;
  outline: none;
   margin: 5px;
  
}

.themeToggle{

   background-image: var(--btnToggleImg);
   background-repeat:no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  height: 1.8rem;
  width: 1.8rem ;
  
}

.themeToggle:hover{
   transform: scale(1.1);
} 

.input{
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 10px 10px;
  align-items: center;
  background-color: var(--objBackgrounds);
  border-radius: 5px;
  margin-bottom: 30px;
  
}


.checkboxContainer{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: relative;
  margin-right: 20px;

}
#checkInput{
  position: absolute;
  left: 50px;
  opacity: 0;
}
.checkboxLabel{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--fontColorGray);
  cursor: pointer;
  transition: .5s ease;

  /* border: 1px solid red; */
}

.checkboxLabel:hover{
  border: 1px solid transparent;
  background-image: var(--bgImage);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}


.checkboxLabel.checkActive{
  border: none;
  background: url(./images/Group\ 4.svg);
  background-color:color-mix(in srgb, hsl(192, 100%, 67%), hsl(280, 87%, 65%) );
  transform: scale(1.2);
  size: 10px;
  background-size: cover; 
  background-position: center;
  
}


.input input[type=text]{
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  outline: none;
  padding: 10px 0px;
  background-color: var(--objBackgrounds);
  color: var(--fontColor);
  cursor: pointer;
}

.boxContainer{
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 3px;
  box-shadow: 0px 20px 10px -5px var(--boxShadow);
  z-index: -1;
  background-color: var(--objBackgrounds);
  
}

.list-infos{
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  border:none;
  background: var(--objBackgrounds);
  align-items: center;
  padding: 25px 10px;
  border-bottom: 1px solid var(--fontColorGray);
  
} 

.liHint{
  background: var(--dropZones);
}

.liHighlight{
  background: var(--highLight);
}

.list-items{
  color: var(--fontColor);
}

.item-info{
  width: 100%;
  font-size: 1.2;
  cursor: pointer;
  font-weight: 400;
}
.close-container{
  width: 15px;
  height: 15px;
  margin-right: 24px;
}
.close-container svg{
 display: none;
}
.close-container:hover svg path{
  fill: var(--fontColor);
}
.list-infos:hover .close-container svg{
display: flex;
}

.last-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
  height: 50px;
}
.sides{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--objBackgrounds);
  padding: 0 10px;
}

.sides p{
  font-size: 14px;
    color: var(--fontColorGray);
    cursor: pointer;

}

.sides:nth-child(1) :hover{
  transition: .5s ease;
  color: var(--fontColor);
}

.center{
  position: absolute;
    width:180px;
    top:30%;
    left: 50%;
    transform: translate(-50%); 
    background: var(--objBackgrounds);
}

.center-items{
  display: flex;
    width: 100%;
    height: 18px;
    font-weight: 700;
    justify-content: space-between;
}

.center-items a{
  text-decoration: none;
  font-size: 14px;
  color: var(--fontColorGray);
  cursor: pointer;
}

.center-items a:focus{
  color: rgba(58, 124, 253, 1);
}

.center-items a:hover{
  color: var(--fontColor);
  transition: .5s ease;
}
.anchor{
  transition: .5s ease;
  color: hsl(220, 98%, 61%);
}

#clearCompleted{
  cursor: pointer;
  transition: .5s ease;
}
#clearCompleted:hover{
  transition: .5s ease;
  color: var(--fontColor);
}
.Drag{
  margin-top:17rem;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: center;
  color: var(--fontColorGray);
}

/* .drag-over::after {
  background-image: linear-gradient(
    315deg,
    var(--violet) 0%,
    var(--blue) 100%
  );
} */

@media screen and (max-width:768px){
  .innerContainer{
      width: 90%;
  }
}

@media screen and (max-width:500px){
  .header{
      background-image: var(--headerSs);
  }
  .todoheader h1{
      font-size: 30px;
  }
  .item-info{
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
  }
  *{
      font-size: 14px;
  }
  .last-row{
      height: 150px;
  }
  .sides{
      height: 40%;
      border: 3px;
  }
  .center{
      border-radius: 3px;
      top: 50%;
      height: 40%;
      width: 100%;
  }
  .center-items{
      width: 180px;
      margin:0 auto;
      height: 100%;
      align-items: center;
  }
  .light .center{
      box-shadow: 10px 0px 25px 10px hsl(236, 33%, 92%);
      z-index: -1;
  }
  .boxContainer{
      box-shadow: none;
  }
}

.alert{
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  text-transform: capitalize;
  background: #d4edda;
  position: absolute;
  top:-1000%;
  transition: .5s ease-in-out;
  opacity: 0;
}
.alert{
    width: 100%;
    height: 50px;
}
.alert-danger {
    color: #721c24;
    background: #f8d7da;
    transition: .3s ease-in-out;
    top:0;    opacity: 1;
}
.alert-success {
    color: #155724;
    background: #d4edda;
    transition: .2s ease-in-out;
    top:0;    opacity: 1;
}
